body {
    font-family: 'Lato', sans-serif;
}

div {
    margin-left: 150px;
    margin-right: 200px;
}

h1 {
    color: #b31800;
    text-align: center;
    font-weight: bold;
}

h2 {
    color: #b31800;
    font-weight: bold;
}

div.formation > h3{
    font-weight: normal;
}

hr{
    height: 1.0px;
    background-color: #9AB39B;
    border: none;
}

table, th, td {
    text-align:center;
}
